{% extends 'layout.html.twig' %}


{# {% block title %}Création fiche utilisateur -
	{{ parent() }}
{% endblock title %} #}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset ('assets/styles/espace_perso.css')}}">

{% endblock %}

{% block innerContent %}


	<header>

		<div class="container-fluid">
			<div class="row">
				<img src="{{asset('assets/img/bandeau_profil.png')}}" alt="Bandeau">
			</div>
		</div>

	</header>

	{{form_start(form)}}


	<div
		class="container d-flex">

		<!-- DEBUT DE LA PREMIERE PARTIE-->

		<section class="col-8">

			<article>

				<div class="col-3 photo">
					<img src="{{ asset ('assets/img/photo_vide.png')}}" alt="photo vide">
					<img
					class="modifier" src="{{asset ('assets/icones/macaron_modifier.svg')}}" alt="modifier">
					{# <p class="name">{{ (app.user.prenom ~ ' ' ~ app.user.nom) }}</p> #}
					<p class="name">{{ (app.user.prenom ~ ' ' ~ app.user.nom |slice(0, 1) ) }}.</p>
					{# {{ 'Salut !!'|slice(0, 1) }} #}
				</div>

			</article>

			<article class="row">

				<div class="col-7 localisation">

					<div class="d-flex align-items-center">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24.0002 21.3546C25.6602 22.0599 26.6668 22.9853 26.6668 23.9999C26.6668 26.2093 21.8908 27.9999 16.0002 27.9999C10.1095 27.9999 5.3335 26.2093 5.3335 23.9999C5.3335 22.9866 6.34016 22.0586 8.00016 21.3546" stroke="#E5CFA9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M22.6668 11.2587C22.6668 15.3827 16.0002 22.6667 16.0002 22.6667C16.0002 22.6667 9.3335 15.3827 9.3335 11.2587C9.3335 7.136 12.3188 4 16.0002 4C19.6815 4 22.6668 7.136 22.6668 11.2587V11.2587Z" stroke="#E5CFA9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M16.0003 12C16.7367 12 17.3337 11.4031 17.3337 10.6667C17.3337 9.93033 16.7367 9.33337 16.0003 9.33337C15.2639 9.33337 14.667 9.93033 14.667 10.6667C14.667 11.4031 15.2639 12 16.0003 12Z" stroke="#E5CFA9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>

						<p class="bold">Localisation</p>

						<div class="ville">
							<input type="text" maxlength="20" class="form-control" id="floatingInput" placeholder="Exemple : Toulouse">
						</div>

					</div>

					<div class="row align-items-center">

						<div class="d-flex">
							<div class="d-flex col-4 cours align-items-start">
								<img src="{{ asset('assets/icones/livre.svg')}}" alt="Livre">
								<p class="bold">Type de cours</p>
							</div>


							<div class="tag profile_classType">

								{% set classeType = infos_user.classType %}
								{% for key, class in form.classType.vars.choices %}
									<div class="form-check form-check-inline">
										<input name="profile[classType][]" {{ class.value in classeType ? 'checked' }} class="form-check-input" type="checkbox" id="{{ 'inlineCheckbox' ~ (key + 1 ) }}" value="{{ class.value }}">
										<label class="form-check-label" for="{{ 'inlineCheckbox' ~ (key + 1) }}">{{ class.data|capitalize  }}
										</label>
									</div>
								{% endfor %}

							</div>
						</div>

					</div>


				</div>
			</article>

			<article class="row">
				<div class="col-7">
					<p class="bold bio">
						Bio*
						<button><img src="{{asset ('assets/icones/modifier.svg')}}" alt="modifier"></button>
					</p>


					<div class="biographie mb-3">

						{% if infos_user.bio %}
							{{ infos_user.bio }}
						{% else %}


							{{form_row(form.bio, {
						attr:{
							class:"biographie form-control",
							placeholder:"Veuillez compléter votre biographie : vos intérets, vos savoirs, tout ce que vous voulez partager avec la communauté Platon. 350 caratères max.",
							maxlength: "350",
							rows:"3"
							}
					})}}
						{% endif %}
						{# <label for="exampleFormControlTextarea1" class="form-label"></label>
																																																																																																																																																																																																																																																																																																																																																																		<textarea class="form-control" id="exampleFormControlTextarea1" maxlength="350" placeholder="Veuillez compléter votre biographie : vos intérets, vos savoirs, tout ce que vous voulez partager avec la communauté Platon. 350 caratères max." rows="3"></textarea> #}
					</div>


				</div>
			</article>

			<div>
				<p class="bold">Nos membres parlent de vous</p>

				{% if infos_user.opinion %}
					{{ infos_user.opinion }}
				{% else %}
					<p class="biographie">
						Aucun commentaire à afficher pour le moment.</p>
				{% endif %}
				{# {{form_row(form.opinion,{render_rest: false} {attr: {class: 'temoignages'}})}} #}


			</section>

			<!-- FIN DE LA PREMIERE PARTIE-->

			<!-- DEBUT DE LA DEUXIEME PARTIE-->

			<section class="col-4">

				<article class="informations">


					<div class="row">

						<div class="titresinformations personnalite d-flex">
							<p class="bold titresinformations">Personnalité *</p>
							<span>5 maximum</span>
							<button><img data-bs-toggle="modal" data-bs-target="#modalepersonnalite" src="{{asset ('assets/icones/plus.svg')}}" alt="ajouter"></button>
							<div>

								{% for personalite in infos_user.personnality %}
									<div class="badge tag">
										{{ personalite.name }}
									</div>
								{% endfor %}
							</div>

						</div>

						<section id="modale-modifperso">


							<div div class="modal fade" id="modalepersonnalite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header d-flex justify-content-center">
											<p>Sélectionnez 5 adjectifs maximum :</p>
										</div>


										<div class="modal-body">


											{{form_row(form.personnality)}}

											{# <input type="checkbox" class="btn-check" id="btn-check-1-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-1-outlined">Attentif(ve)</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-2-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-2-outlined">Bavard(e)</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-3-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-3-outlined">Chaleureux(se)</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-4-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-4-outlined">Débrouillard(e)</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-5-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-5-outlined">Disponible</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-6-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-6-outlined">Drôle</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-7-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-7-outlined">Enthousiaste</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-8-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-8-outlined">Extraverti(e)</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-9-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-9-outlined">Fiable</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-10-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-10-outlined">Impliqué(e)</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-11-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-11-outlined">Introverti(e)</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-12-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-12-outlined">Ordonné(e)</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-13-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-13-outlined">Optimiste</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-14-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-14-outlined">Sociable</label>
																																																																																																																																																																																																																																																																																																																																																				<input type="checkbox" class="btn-check" id="btn-check-15-outlined" autocomplete="off">
																																																																																																																																																																																																																																																																																																																																																				<label class="btn btn-outline-secondary" for="btn-check-15-outlined">Volontaire</label>
																																																																																																																																																																																																																																																																																																																																									 #}

										</div>


										{# <div class="modal-footer-personnalite d-flex justify-content-center">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														<a class="btn shadow btn-valider" href="#">Valider</a>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																													</div> #}
										<div class="modal-footer-personnalite d-flex justify-content-center">
											<a class="btn shadow btn-valider" href="#" data-bs-dismiss="modal">Valider</a>
										</div>
									</div>
								</div>
							</div>

						</section>


						<div class="savoirs titresinformations d-flex">
							<p class="bold">Savoir(s) à transmettre *</p>
							<span>3 maximum</span>
							<img src="{{asset ('assets/icones/plus.svg')}}" alt="ajouter">
						</div>

						<div>

							{% for savoirs in infos_user.subCategories %}
								<div class="badge tag">
									{{ savoirs.name }}
								</div>
							{% endfor %}
						</div>

						<div class="col-6">

							{{form_row(form.subCategories, {
							attr: {
								class: 'listesavoirs form-select'
							}

						})}}
							{# <select class="listesavoirs form-select" aria-label="Default select example">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option selected>Type de savoir</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="1">Assistance juridique</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="2">Comptabilité</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="3">Dossier banque</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="4">Impôts</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="5">Rédaction</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="6">Cinéma</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="7">Théâtre</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="8">Danse</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="9">Musique</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="10">Peinture</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="11">Photographie</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="12">Street-art</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="13">Coiffure</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="14">Développement-personnel</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="15">Maquillage</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="16">Massage</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="17">Naturopathie</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="18">Relaxation</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="19">Asiatique</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="20">Cuisine du monde</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="21">Exotique</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="22">Français</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="23">Gastronomique</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="24">Italien</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="25">Allemand</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="26">Anglais</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="27">Arabe</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="28">Chinois</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="29">Espagnol</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="30">Français</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="31">Italien</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="32">Japonais</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="33">Création site web</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="34">Logiciels design</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="35">Logiciels Office</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="36">Marketing digital</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="37">Montage photo</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="38">Montage vidéo</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="39">Réseaux sociaux</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="40">Biosciences</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="41">Chimie</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="42">Géosciences</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="43">Maths</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="44">Physique</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="45">Économie</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="46">Sciences de l'Univers</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="47">Sciences Politiques</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="48">Danse</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="49">Fitness</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="50">Musculation</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									<option value="">Yoga</option>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	</select> #}
						</div>


						<div class="titresinformations d-flex">
							<p class="bold">Précisez vos savoirs *</p>
							<span>3 maximum</span>
						</div>

						<div class="precisez d-flex">
							<div class="form-floating col-7">
								<input type="text" maxlength="30" class="form-control" id="floatingInput" placeholder="Exemple : Guitare folk">
								<label for="floatingInput">Exemple : Guitare folk</label>
							</div>
							<img src="{{asset ('assets/icones/plus.svg')}}" alt="ajouter">
						</div>

						<div class="favoris">
							<p class="bold">Vos favoris</p>
							<p class="biographie">
								Aucun favori à afficher pour le moment.</p>
						</div>


					</div>

					{{ form_row(form.sauver, {
					attr: {
						class:'d-flex justify-content-end btn shadow btn-credit',
						'data-bs-toggle':'modal',
						'data-bs-target':'#exampleModal',
						
					},
					'label': 'Enregistrer les modifications'

				})}}


				</div>


				<!-- MODALE-->


				<section id="modale">
					<div div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header justify-content-center">
									<h2 class="modal-title" id="titremodale">Merci !</h2>
								</div>
								<div class="modal-body">
									<p>Votre profil est complété. Vous bénéficiez maintenant d’une heure à dépenser dans le cours de
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                      votre
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                      choix !
									</p>
								</div>

								<div class="d-flex align-items-center justify-content-center credit">
									<svg width="74" height="74" viewbox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M38.1637 22.3882V35.3975L49.4345 41.9021C49.8875 42.1679 50.2407 42.5751 50.4399 43.061C50.6391 43.547 50.6732 44.085 50.537 44.5922C50.4008 45.0995 50.1019 45.548 49.6861 45.8689C49.2703 46.1898 48.7606 46.3653 48.2354 46.3685C47.8119 46.3804 47.3944 46.2656 47.0364 46.0387L34.5667 38.8446H34.5067L34.3868 38.7847L34.2969 38.6948L34.207 38.6348L34.117 38.5449L34.0571 38.4849C33.9971 38.455 33.9672 38.395 33.9372 38.365L33.8772 38.3051L33.8173 38.1852L33.7573 38.0953L33.6974 38.0053C33.6788 37.9914 33.6637 37.9733 33.6533 37.9525C33.6429 37.9316 33.6374 37.9087 33.6374 37.8854L33.5775 37.7955C33.5775 37.7655 33.5475 37.7356 33.5475 37.6756C33.5367 37.6634 33.5284 37.6492 33.5233 37.6337C33.5181 37.6183 33.5162 37.6019 33.5175 37.5857L33.4576 37.4658C33.459 37.4495 33.457 37.4332 33.4519 37.4177C33.4467 37.4023 33.4385 37.388 33.4276 37.3759C33.4276 37.3159 33.4276 37.2859 33.3976 37.256V37.136C33.3976 37.0761 33.3677 37.0461 33.3677 37.0162V22.3882C33.3677 21.7522 33.6203 21.1422 34.07 20.6925C34.5197 20.2428 35.1297 19.9902 35.7657 19.9902C36.4017 19.9902 37.0116 20.2428 37.4614 20.6925C37.9111 21.1422 38.1637 21.7522 38.1637 22.3882ZM65.5012 14.085C65.0619 13.9071 64.5797 13.8635 64.1155 13.9595C63.6514 14.0555 63.2261 14.287 62.8934 14.6246L58.6069 18.911L56.1189 16.4231C52.0939 12.4001 46.9664 9.66096 41.3848 8.55184C35.8031 7.44272 30.0179 8.01347 24.7606 10.1919C19.5033 12.3704 15.01 16.0587 11.8486 20.7906C8.68732 25.5226 7 31.0856 7 36.7763C7 42.4671 8.68732 48.0301 11.8486 52.7621C15.01 57.494 19.5033 61.1823 24.7606 63.3608C30.0179 65.5392 35.8031 66.11 41.3848 65.0009C46.9664 63.8917 52.0939 61.1525 56.1189 57.1296C56.5674 56.6801 56.8193 56.071 56.8193 55.436C56.8193 54.801 56.5674 54.1919 56.1189 53.7424C55.8984 53.5167 55.635 53.3374 55.3441 53.2149C55.0533 53.0925 54.7409 53.0294 54.4253 53.0294C54.1098 53.0294 53.7974 53.0925 53.5066 53.2149C53.2157 53.3374 52.9523 53.5167 52.7317 53.7424C49.377 57.0934 45.104 59.3747 40.4531 60.2978C35.8021 61.2209 30.9818 60.7445 26.6015 58.9287C22.2213 57.1129 18.4776 54.0393 15.8438 50.0963C13.21 46.1533 11.8043 41.5181 11.8043 36.7763C11.8043 32.0346 13.21 27.3993 15.8438 23.4564C18.4776 19.5134 22.2213 16.4398 26.6015 14.624C30.9818 12.8082 35.8021 12.3318 40.4531 13.2549C45.104 14.178 49.377 16.4593 52.7317 19.8103L55.2197 22.2983L50.9032 26.6147C50.5729 26.9517 50.3493 27.3787 50.2606 27.8422C50.1718 28.3057 50.2217 28.785 50.4041 29.2203C50.5865 29.6555 50.8933 30.0272 51.286 30.2889C51.6787 30.5506 52.1399 30.6906 52.6118 30.6914H64.602C65.238 30.6914 65.8479 30.4387 66.2976 29.989C66.7474 29.5393 67 28.9293 67 28.2933V16.3032C66.9913 15.8282 66.8451 15.3658 66.5791 14.9722C66.3131 14.5785 65.9387 14.2703 65.5012 14.085Z" fill="#e5cfa9"/>
									</svg>
									<h3>+ 1 Heure</h3>
								</div>

								<div class="modal-footer d-flex justify-content-between">
									<a class="btn-profil shadow" href="#">Mon profil</a>
									<a class="btn-catalogue shadow" href="#">Voir le catalogue des savoirs</a>
								</div>
							</div>
						</div>
					</div>

				</section>

			</article>

		</section>


		<!-- FIN DE LA DEUXIEME PARTIE-->


	<!-- DEBUT DE LA TROISIEME PARTIE-->


		<!-- FIN DE LA TROISIEME PARTIE-->

	</div>

	{{form_end(form)}}
{# {{form_end(form, {render_rest: false})}} #}
	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
																																				    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
																																				    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
																																				    -->
{% endblock innerContent %}
