{% extends 'layout.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/styles/base.css')}}">
{% endblock %}

{% block innerContent %}

	<section id="inscription">

		<div class="container">


			<h2>Inscription</h2>

			{{ form_start(registrationForm,{attr:{'class':"offset-md-3 col-md-6 col-12 formulaire"}}) }}

			<div class="name row col-12 justify-content-between">

				{{ form_widget(registrationForm.prenom, {
					  attr: {
						  'class': 'col-lg-5 col-12 prenom'
					  }
					}) }}
				{# <input class="col-lg-5 col-12 prenom" type="text" placeholder="Prénom *"> #}
				{{ form_widget(registrationForm.nom, {
					  attr: {
						  'class': 'col-lg-5 col-12'
					  }
					}) }}
			</div>
			<div class="mail">
				{{ form_widget(registrationForm.email) }}
			</div>

			<div>
				{{ form_widget(registrationForm.password.first) }}

				<img src="{{asset('assets/icones/mdp_hidden.svg')}}" alt="oeilferme">
			</div>

			<div class="confmdp">
				{{ form_widget(registrationForm.password.second, {
					  attr: {
						  'class': ''
					  }
					}) }}
					
				<img src="{{asset('assets/icones/mdp_hidden.svg')}}" alt="oeilferme">
			</div>

			<div class="cgu d-flex">
				{{ form_widget(registrationForm.condition) }}
				<a href="#">J'accepte les conditions générales d'utilisation*
				</a>
			</div>

			<div class="agemin d-flex">
				{{ form_widget(registrationForm.agreeTerms) }}
				<p>Je certifie avoir plus de 18 ans *</p>
			</div>

			<div class="d-flex justify-content-end">
				<button type="submit" class="btn-sm submit">S'inscrire</button>
			</div>


			{{ form_end(registrationForm) }}

		</div>

	</section>
{% endblock %}

