{% extends 'layout.html.twig' %}

        {% block innerContent %}
        <h1>Bonjour {{app.user.prenom}}</h1>
		<h1>Cours prévu à donner</h1>
        <div>
            {% for ticket in app.user.tickets %}
                {% if ticket.status is same as(0) %}
                    {{ticket.receiver.prenom}} <br>
                    {{ticket.content}} <br>
                    {{ticket.status}}
                {% endif %}
            {% endfor %}
        </div>
		<h1>cours prévus à recevoir</h1>
        <div>
            {% for ticket in app.user.tickets %}
                {% if ticket.status is same as(0) %}
					<p>Vous avez cours avec :</p>
                    {{ticket.receiver.prenom}} <br>
                    {{ticket.content}} <br>
                    {{ticket.status}}
                {% endif %}
            {% endfor %}
        </div>
		<h1>Cours passés</h1>
		<div>
            {% for ticket in app.user.tickets %}
                {% if ticket.status is same as(3) %}
                    {{ticket.receiver.prenom}} <br>
                    {{ticket.content}} <br>
                    {{ticket.status}}
                {% endif %}
            {% endfor %}
        </div>
        {% endblock %}
