{% extends 'layout.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('assets/styles/catalogue.css')}}">
{% endblock %}
{% block title %}SubCategories{% endblock %}

{% block innerContent %}
    <section id="profilcard">

      <div class="container">

        <div class="row d-flex justify-content-evenly">
          {% for users in sub_category.infosUsers %}

          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">

            <div class="d-flex photobadge">
              {# l'on affiche pas encore de photo profil/utilisateur, il faudrait stocker le chemin de la photo lors de l'inscription puis le concaténer 
              avec son url complet (dans le cas d'une photo déja hébergée en ligne) afin d'afficher celle-ci dynamiquement selon l'utilisateur #}
              <img src="{{asset ('assets/img/lucile2.png')}}" alt="photoprofil">
              {# Pour l'instant tout le utilisateurs sont certifiés (ou aucun ?!) ils ont donc tous un joli badge,
              pour plus tard implanter une entitée badge avec une booléenne réglée à false liée à l'entitée InfosUser qui passera à TRUE lorsque * nbre de cours donnés par l'utilisateur ont aurait été clos et validés permettant ainsi d'afficher le badge dynamiquement#}
              <img class="medaille" src="{{asset ('assets/icones/medaille_bleu.svg')}}" alt="badge">
            </div>
            {# Trouver le moyen de n'afficher que la premiére lettre du nom de famille #}
            <h3>{{ users.user.prenom }} {{users.user.nom}}</h3>

            {# Une propriété opinion existe déjà en base de données, pour l'affichage dynamique deux options :
             - Relier l'integer à une table contenant le lien d'un étoile et lui demander d'itérer l'image d'autant de fois que la valeur de opinion
             - Gérer l'affichage des étoiles en front avec du JS ou du REACT #}
            <div class="d-flex align-items-start avismoy">
              <img src="{{asset('assets/icones/etoile_full.svg')}}" alt="étoiles"><img src="{{asset ('assets/icones/etoile_full.svg')}}" alt="étoiles"><img
                src="{{asset ('assets/icones/etoile_full.svg')}}" alt="étoiles"><img src="{{asset ('assets/icones/etoile_full.svg')}}" alt="étoiles"><img
                src="{{asset('assets/icones/etoile_full.svg')}}" alt="étoiles">
              <p>22 avis</p>
            </div>

            <div class="d-flex">
            {# On affiche la capacité d'avoir un cours en visio, en présentiel ou les deux selon les options stockées en bdd #}
            {% for classTypes in users.classType %}
              <div class="typecours d-flex align-items-center">{{ classTypes }}<img src="{{asset ('assets/icones/valide_bleu.svg')}}" alt="check">
              </div>
            {% endfor %}
              
            </div>

            <div class="d-flex align-items-end ville">
              <img src="{{asset ('assets/icones/localisation.svg')}}" alt="localisation">
              {# La localisation des users est elle stockée lors de l'affinage des profils ? Si oui, l'affichée dynamiquement ici, Si non, il faut absolument que ça soit fait #}
              <p>Paris & Ile-de-France</>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="{{ path('platon_user_show', {'id': users.user.id}) }}">Voir profil</a>
            </div>
          </article>

          {% endfor %}
          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">

            <div class="d-flex photobadge">
              <img src="{{asset ('assets/img/john.png')}}" alt="photoprofil">

            </div>
            <h3>Alain Poisson</h3>

            <div class="d-flex align-items-start avismoy">
              <img src="{{asset('assets/icones/etoile_full.svg')}}" alt="étoiles"><img src="{{asset ('assets/icones/etoile_full.svg')}}" alt="étoiles"><img
                src="{{asset ('assets/icones/etoile_full.svg')}}" alt="étoiles">
              <p>3 avis</p>
            </div>

            <div class="d-flex">
              <div class="typecours d-flex align-items-center">Visio<img src="{{asset ('assets/icones/valide_bleu.svg')}}" alt="check">
              </div>
            </div>

            <div class="d-flex align-items-end ville">
              <img src="{{asset ('assets/icones/localisation.svg')}}" alt="localisation">
              <p>Lyon</>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="#">Voir profil</a>
            </div>
          </article>
        </div>
      </div>
    </section>

     {# Ici on trouvera la donnée simple



    {% for users in sub_category.infosUsers %}
            <h3>{{ users.user.prenom }} {{users.user.nom}}</h3>
            <h3>{{ users.opinion }} / 5</h3>

                {% for classTypes in users.classType %}
          
                    <h3>{{ classTypes }}</h3>

                {% endfor %}


            <a href="{{ path('platon_user_show', {'id': users.user.id})}}">Voir mon profil</a>
    {% endfor %}  #}

{% endblock %}


 




