{% extends 'layout.html.twig' %}

{% block title %}SubCategories{% endblock %}

{% block innerContent %}
    <h1>{{ sub_category.name }}</h1>



    {% for users in sub_category.infosUsers %}
            <h3>{{ users.user.prenom }} {{users.user.nom}}</h3>
            <h3>{{ users.opinion }} / 5</h3>
                {% for classTypes in users.classType %}
                    <h3>{{ classTypes }}</h3>
                {% endfor %}
            <a href="{{ path('platon_user_show', {'id': users.user.id})}}">Voir mon profil</a>
    {% endfor %}
    
    

    <table class="table">
        <tbody>
            <tr>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
