{% extends 'layout.html.twig' %}

{% block title %}SubCategories{% endblock %}

{% block innerContent %}
    <h1>{{ sub_category.name }}</h1>



    {% for users in sub_category.infosUsers %}
            <h3>{{ users.user.prenom }} {{users.user.nom}}</h3>
            <h3>{{ users.opinion }} / 5</h3>
                {% for classTypes in users.classType %}
                    <h3>{{ classTypes }}</h3>
                {% endfor %}
            <a href="{{ path('platon_user_show', {'id': users.user.id})}}">Voir mon profil</a>
    {% endfor %}
    
{#     

    <table class="table">
        <tbody>
            <tr>
                <td>

                </td>
            </tr>
        </tbody>
    </table> #}



<main>

    <section id="profilcard">

      <div class="container">

        <div class="row d-flex justify-content-between">

          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">

            <div class="d-flex photobadge">
              <img src="img/lucile2.png" alt="photoprofil">
              <img class="medaille" src="icones/medaille_bleu.svg" alt="badge">
            </div>

            <h3>Lucile D.</h3>

            <div class="d-flex align-items-start avismoy">
              <img src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles">
              <p>22 avis</p>
            </div>

            <div class="d-flex">
              <div class="typecours d-flex align-items-center">Présentiel<img src="icones/valide_bleu.svg" alt="check">
              </div>
              <div class="typecours d-flex align-items-center">Visio<img src="icones/valide_bleu.svg" alt="check"></div>
            </div>

            <div class="d-flex align-items-end ville">
              <img src="icones/localisation.svg" alt="localisation">
              <p>Paris & Ile-de-France</>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="#">Voir profil</a>
            </div>
          </article>

          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">
            <div class="d-flex photobadge">
              <img src="img/diego.png" alt="photoprofil">
              <img class="medaille" src="icones/medaille_bleu.svg" alt="badge">
            </div>

            <h3>Diego S.</h3>

            <div class="d-flex align-items-start avismoy">
              <img src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles">
              <p>20 avis</p>
            </div>

            <div class="d-flex">
              <div class="typecours d-flex align-items-center">Présentiel<img src="icones/valide_bleu.svg" alt="check">
              </div>
              <div class="typecours d-flex align-items-center">Visio<img src="icones/valide_bleu.svg" alt="check"></div>
            </div>

            <div class="d-flex align-items-center ville">
              <img src="icones/localisation.svg" alt="localisation">
              <p>Paris</p>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="#">Voir profil</a>
            </div>
          </article>


          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">
            <div class="d-flex photobadge">
              <img src="img/zoe.png" alt="photoprofil">
              <img class="medaille" src="icones/medaille_bleu.svg" alt="badge">
            </div>

            <h3>Zoé M.</h3>

            <div class="d-flex align-items-start avismoy">
              <img src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles">
              <p>17 avis</p>
            </div>

            <div class="d-flex">
              <div class="typecours d-flex align-items-center">Présentiel<img src="icones/valide_bleu.svg" alt="check">
              </div>
              <div class="typecours d-flex align-items-center">Visio<img src="icones/valide_bleu.svg" alt="check"></div>
            </div>

            <div class="d-flex align-items-center ville">
              <img src="icones/localisation.svg" alt="localisation">
              <p>Cergy-Pontoise</p>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="#">Voir profil</a>
            </div>
          </article>


          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">
            <div class="d-flex photobadge">
              <img src="img/jean.png" alt="photoprofil">
              <img class="medaille" src="icones/medaille_bleu.svg" alt="badge">
            </div>

            <h3>Jean S.</h3>

            <div class="d-flex align-items-start avismoy">
              <img src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles">
              <p>15 avis</p>
            </div>

            <div class="d-flex">
              <div class="typecours">Présentiel<img src="icones/valide_bleu.svg" alt="check"></div>
              <div class="typecours">Visio<img src="icones/valide_bleu.svg" alt="check"></div>
            </div>

            <div class="d-flex align-items-center ville">
              <img src="icones/localisation.svg" alt="localisation">
              <p>Montreuil</p>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="#">Voir profil</a>
            </div>
          </article>


          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">
            <div class="d-flex photobadge">
              <img src="img/julie.png" alt="photoprofil">
              <img class="medaille" src="icones/medaille_bleu.svg" alt="badge">
            </div>

            <h3>Julie F.</h3>

            <div class="d-flex align-items-start avismoy">
              <img src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_demi.svg" alt="étoiles">
              <p>14 avis</p>
            </div>

            <div class="d-flex">
              <div class="typecours d-flex align-items-center">Présentiel<img src="icones/valide_bleu.svg" alt="check">
              </div>
              <div class="typecours d-flex align-items-center">Visio<img src="icones/valide_bleu.svg" alt="check"></div>
            </div>

            <div class="d-flex align-items-center ville">
              <img src="icones/localisation.svg" alt="localisation">
              <p>Montargis</p>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="#">Voir profil</a>
            </div>
          </article>


          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">
            <div class="d-flex photobadge">
              <img src="img/katy.png" alt="photoprofil">
              <img class="medaille" src="icones/medaille_bleu.svg" alt="badge">
            </div>

            <h3>Katy P.</h3>

            <div class="d-flex align-items-start avismoy">
              <img src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_demi.svg" alt="étoiles">
              <p>10 avis</p>
            </div>

            <div class="d-flex">
              <div class="typecours">Présentiel<img src="icones/valide_bleu.svg" alt="check"></div>
              <div class="typecours">Visio<img src="icones/valide_bleu.svg" alt="check"></div>
            </div>

            <div class="d-flex align-items-center ville">
              <img src="icones/localisation.svg" alt="localisation">
              <p>Dieppe</p>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="#">Voir profil</a>
            </div>
          </article>

          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">
            <div class="d-flex photobadge">
              <img src="img/tom.png" alt="photoprofil">
            </div>

            <h3>Tom D.</h3>

            <div class="d-flex align-items-start avismoy">
              <img src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_demi.svg" alt="étoiles">
              <p>9 avis</p>
            </div>

            <div class="d-flex">
              <div class="typecours d-flex align-items-center">Présentiel<img src="icones/valide_bleu.svg" alt="check">
              </div>
              <div class="typecours d-flex align-items-center">Visio<img src="icones/valide_bleu.svg" alt="check"></div>
            </div>

            <div class="d-flex align-items-center ville">
              <img src="icones/localisation.svg" alt="localisation">
              <p>Strasbourg</p>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="#">Voir profil</a>
            </div>
          </article>

          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">
            <div class="d-flex photobadge">
              <img src="img/john.png" alt="photoprofil">
            </div>

            <h3>John T.</h3>

            <div class="d-flex align-items-start avismoy">
              <img src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_demi.svg" alt="étoiles">
              <p>7 avis</p>
            </div>

            <div class="d-flex">
              <div class="typecours d-flex align-items-center">Présentiel<img src="icones/valide_bleu.svg" alt="check">
              </div>
              <div class="typecours d-flex align-items-center">Visio<img src="icones/valide_bleu.svg" alt="check"></div>
            </div>

            <div class="d-flex align-items-center ville">
              <img src="icones/localisation.svg" alt="localisation">
              <p>Toulouse</p>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="#">Voir profil</a>
            </div>
          </article>

          <article class="col-xxl-3 d-flex flex-column align-items-center membercard">
            <div class="d-flex photobadge">
              <img src="img/marie.png" alt="photoprofil">
            </div>

            <h3>Marie J.</h3>

            <div class="d-flex align-items-start avismoy">
              <img src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_full.svg" alt="étoiles"><img src="icones/etoile_full.svg" alt="étoiles"><img
                src="icones/etoile_demi.svg" alt="étoiles">
              <p>7 avis</p>
            </div>

            <div class="d-flex">
              <div class="typecours d-flex align-items-center">Présentiel<img src="icones/valide_bleu.svg" alt="check">
              </div>
              <div class="typecours d-flex align-items-center">Visio<img src="icones/valide_bleu.svg" alt="check"></div>
            </div>

            <div class="d-flex align-items-center ville">
              <img src="icones/localisation.svg" alt="localisation">
              <p>Marseille</p>
            </div>

            <div class="d-flex align-items-center voirprofil">
              <a class="btn shadow" href="#">Voir profil</a>
            </div>
          </article>

        </div>

        <div class="pagination">
          <ul class="pagination pagination-sm">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
          </ul>
        </div>

      </div>
    </section>
  </main>






{% endblock %}
