{% extends "base.html.twig" %}



{% block stylesheets %}
{% if is_granted('ROLE_USER') %}
<link rel="stylesheet" href="{{asset('assets/styles/base_connected.css')}}">

{% else %}
<link rel="stylesheet" href="{{asset('assets/styles/base.css')}}">

{% endif %}

{% endblock %}


{% block body %}

{{ render(path ('platon_navigation')) }}
    

	<main>

		{% block innerContent %}{% endblock %}

	</main>


<footer>
    <div class="container">
      <div class="row d-flex">
        <div class="col-12 col-md-3">
          <h4>À propos</h4>
          <ul>
            <li><a href="{{ path('platon_quisommesnous')}}">Qui sommes-nous ?</a></li>
            <li><a href="{{ path('platon_mentionslegales')}}">Mentions légales</a></li>
            <li><a href="{{ path('platon_cgu')}}">CGU</a></li>
          </ul>
        </div>

        <div class="col-12 col-md-3">
          <h4>Contact</h4>
          <ul>
            <li><a href="{{ path('platon_contact')}}">Contactez-nous</a></li>
            <li><a href="{{ path('platon_informationslegales')}}">Informations légales</a></li>
            <li><a href="{{ path('platon_parametresdescookies')}}">Paramètres des cookies</a></li>
          </ul>
        </div>

        <div class="col-12 col-md-3">
          <h4>Platon</h4>
          <ul>
            <li><a href="{{ path('app_how_to')}}">Comment ça marche ?</a></li>
            <li><a href="{{ path('platon_lachartedeplaton')}}">La charte de Platon</a></li>
          </ul>
        </div>

        <div class="col-12 col-md-3">
          <img src="{{asset('assets/logo/platon_jaune.svg')}}" alt="Logo Platon">
          <div class="RS">
            <div class="facebook"><a href="#"><img src="{{asset('assets/icones/facebook.png')}}" alt="Logo Facebook"></a></div>
            <a href="#"><img src="{{asset('assets/icones/instagram.png')}}" alt="Logo Instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </footer>




	
    <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
  <script>
    let catalogue = document.getElementById('catalogue')
    let modale = document.getElementById('modale')

    catalogue.addEventListener("click", () => {
      if (modale.className == "seen") {
        modale.className = "hidden"
      }
      else {
        modale.className = "seen"
      }
    })

  </script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    
	{% endblock %}
